:root {
	--r: 121;
	--g: 84;
	--b: 255;
}

body {
	/* https://cssgradient.io/ */
	background: rgba(var(--r), var(--g), var(--b), 100);
	background: linear-gradient(
		180deg,
		rgba(var(--r), var(--g), var(--b), 0.25) 0%,
		rgba(255, 255, 255, 0) 50%,
		rgba(var(--r), var(--g), var(--b), 0.25) 100%
	);
}

.icon {
	height: 2.5rem;
	object-fit: contain;
	vertical-align: middle;
}

#Title {
	font-family: sans-serif;
	display: flex;
	align-items: center;
	margin-top: -1rem;
	margin-bottom: -1.5rem;
}

h1 {
	font-family: sans-serif;
	color: rgb(35, 93, 167);
	font-size: 2.5rem;
}

#DECA_Logo {
	width: 3.5rem;
	height: 3.5rem;

	margin-right: 0.5rem;
}

h2 {
	font-family: serif;
	color: rgb(13, 41, 78);
	font-size: 1.25rem;
	margin-bottom: 1.5rem;
}

.bubble {
	/*box-shadow: 0 0 0.4rem grey;
    background-color: white;*/
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: 0.75rem;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.4px);
	-webkit-backdrop-filter: blur(5.4px);
	border: 1px solid rgba(255, 255, 255, 0.56);
}

h5 {
	margin-top: -0.75rem;
}

#TestStart {
	float: right;
}

#URL {
	width: 60vw;
}

#ScoreChart {
	/* display: flex; */
	display: none;
	justify-content: center;
	align-items: center;

	font-family: sans-serif;
	font-size: 1.5rem;

	margin-top: -0.5rem;
	margin-bottom: 2rem;
}

#chart {
	height: 15rem !important;
	width: 15rem !important;
	margin-right: 0.5rem;
}

#correct {
	color: rgb(43, 188, 21);
}

#skipped {
	color: rgb(54, 162, 235);
}

#incorrect {
	color: rgb(234, 42, 42);
}

#User {
	padding-right: 1rem;
}

button {
	background-color: rgb(41, 111, 202);
	color: white;
}

button:hover {
	background-color: rgb(28, 84, 157);
	color: white;
	cursor: hand;
}

button:active {
	background-color: rgb(13, 45, 87);
	color: white;
}

#newTest,
#newTraining {
	width: 6.25rem;
}

#ExamHead {
	display: flex;
	align-items: baseline;
	flex-wrap: nowrap;
	width: 100%;

	font-family: sans-serif;
	color: rgba(var(--r), var(--g), var(--b), 100);
}

h3 {
	font-size: 2rem;
	margin-top: 0.75rem;
}

.bar {
	display: flex;
	flex-direction: nowrap;
	align-items: center;

	margin-top: -2rem;
}

#TrainingControls {
	margin-top: 1rem !important;
	font-family: sans-serif;
}

.trainingButtion {
	flex: 1 1 0;
	min-height: 2.5rem;
	font-size: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.trainingButtion:hover {
	opacity: 1 !important;
}

.reasoning {
	padding: 0.25rem;
	margin-top: -0.75;
	font-size: 1.25rem;
}

.controlsON {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	margin-bottom: 0.5rem;
}

#questionNumber {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#reviewButton {
	margin-left: 0.75rem;
}

progress {
	flex-grow: 2;
	flex-shrink: 2;

	margin-left: 1rem;
	margin-right: 1rem;
}

#QuestionPhrase {
	margin-bottom: 1.25rem;
	margin-left: 0.5rem;
	font-size: 1.25rem;
}



#Username {
	margin-right: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}


.dropdown-content-container {
	display: none;
	position: absolute;
	z-index: 1;
	/* width: 12.5%; */

	/* From https://css.glass */
	background: rgba(35, 93, 167, 0.65);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.6px);
	-webkit-backdrop-filter: blur(7.6px);
	border: 1px solid rgba(35, 93, 167, 0.3);

	margin-top: 3rem;
	
}

.dropdown-content {
	margin: 0.5rem;
	padding: 0.5rem;
	text-align: right;

		/* From https://css.glass */
	background: rgba(255, 255, 255, 0.64);
	border-radius: 8px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.6px);
	-webkit-backdrop-filter: blur(7.6px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	}

#Username:hover .dropdown-content-container {
	display: flex;
	flex-direction: column;
	max-height: 75%;
	flex-wrap: wrap;
}





.AnswerChoice {
	display: flex;
	align-items: baseline;
	margin-top: -1.25rem;
	margin-left: 1rem;
	font-size: 1.25rem;
}

.ReviewChoice {
	display: flex;
	align-items: baseline;
	margin-top: -1.25rem;
	margin-left: 1rem;
	font-size: 1rem;
}

.reviewPart:hover {
	opacity: 70%;
	cursor: hand;
}

.redWrong {
	color: rgb(234, 42, 42);
}

.greenRight {
	color: rgb(43, 188, 21);
}

.actualAnswer {
	color: rgb(54, 162, 235);
}

.clickable:hover {
	cursor: hand;
}

.popup {
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 2rem;
	padding-bottom: 2.5rem;

	font-family: sans-serif;

	margin-top: 2.5rem;
	top: 0rem;

	left: 35%;

	right: 35%;

	position: fixed;
	transition: all 0.25s ease-in-out;
	transform-origin: top;
	transform: scaleY(0);

	pointer-events: none;
	opacity: 0;

	/* From https://css.glass */
	background: rgba(184, 57, 76, 0.35);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(9.2px);
	border: 1.5px solid rgba(255, 255, 255, 0.848);
}

.popup.open {
	transform: scaleY(1);
	pointer-events: auto;
	opacity: 1;
}

.loginField {
	flex-grow: 10;
}

footer {
	width: 100%;
	text-align: center;
	margin-top: 3rem;
	position: static;
}
