* {
    font-family: Arial, Helvetica, sans-serif;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 70vh;
    row-gap: 0.5em;
}

#buttons button{
    width: 47.5%;
    font-size: 8vw;
    font-variant: small-caps;
}

#buttons button:hover{
    opacity: 85%;
    cursor: pointer;
}

#buttons button:active{
    /* box-shadow: inset; */
    box-shadow: inset -0.15em -0.15em 0.5em 0 rgba(0, 0, 0, 0.75);
}

button {
  color: #000 !important;
}
select {
  color: #000 !important;
}